---
import SanityPortableText from './SanityPortableText.astro'
import { getSanityImageURL, formatBlogPostDate } from '../utils/helpers.js'
import Container from './Container.astro';

export interface Props {
  post: any;
}

const { post } = Astro.props;
// const blogPostBody = await convertBlockContentToMarkdown(post.bodyRaw);
---

<Container>
  <article class="post-content__article">
      {post.mainImage && <img width="720" height="420" class="post-main__img" loading="lazy" src={getSanityImageURL(post.mainImage).url()} />}
      <h1 class="title">{post.title}</h1>
      <time class="publish-date">{formatBlogPostDate(post.publishedAt)}</time>
      <!-- {post.author && <p>By {post.author.name}</p>} -->
      <SanityPortableText portableText={post.body} />
  </article>
</Container>

<style>
.publish-date {
  margin: 0;
}

.publish-date,
.author {
  font-size: 0.5rem;
  color: khaki;
}

.title {
  font-size: 4rem;
  font-weight: 600;
  color: black;
}

  .post-content__article {
    padding: 2rem;
  }

  .post-main__img {
    width: 120%;
    height: auto;
  }
</style>


